.rootContainer {
  position: fixed;
  display: flex;
  top: 40px;
  left: 0;
  z-index: 9999;
}

.buttonContainer,
.selectedContainer,
.statusContainer {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
}

.status {
  margin: 0 2px 0 4px;
  color: lightgreen;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: 32px;
  line-height: 1;
}

.button {
  position: relative;
  width: 44px;
  height: 20px;
  margin: 0.3em;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border: none;
  text-align: center;
  background-color: #03a9f4;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.intervalSetting {
  position: relative;
  height: 20px;
  margin: 0.3em;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border: none;
  text-align: center;
  background-color: #03a9f4;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}
